$opacity: 0.7
$color-white: #fff

@font-face
  font-family: "craftygirls"
  src: url('http://themes.googleusercontent.com/static/fonts/craftygirls/v0/0Sv8UWFFdhQmesHL32H8o3hCUOGz7vYGh680lGh-uXM.woff')

body
  //background: url(../images/seamlesstexture29_1200.jpg)
  background: url(../images/geometry.png)
  font-family: "Helvetica Nwue",Helvetica,Arial,"ヒラギノ角ゴ Pro W2","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif
  font-size: 14px
  color: rgb(47, 54, 57)
  line-height: 1.8

*, *:before, *:after
  -moz-box-sizing: border-box

body.article .container .article header .meta .article-tag
  margin-left: 10px
  display: inline-block

#license
  text-align: center
  line-height: 1.8
  color: rgb(100, 120, 120)

a.tk-learning-curve
  //font-family: "learning-curve",cursive
  font-family: "craftygirls"
  font-size: 40px

ul.horizontal li
  white-space: nowrap
  margin-right: 7px

ul.horizontal div, ul.horizontal form, ul.horizontal li
  display: inline

ul
  list-style-type: none

.recent-articles .date
  font-weight: 200px
  font-size: 12px

.date
  span
    &.month, &.day
      &:after
        content: "."

.navbar-default
  max-width: 1200px
  margin-left: auto
  margin-right: auto
  border: 0px none
  background: url(../images/geometry.png)

h1#blog-title
  color: #ababab

p#blog-description
