@charset "UTF-8";
@font-face {
  font-family: "craftygirls";
  src: url("http://themes.googleusercontent.com/static/fonts/craftygirls/v0/0Sv8UWFFdhQmesHL32H8o3hCUOGz7vYGh680lGh-uXM.woff"); }

@font-face {
  font-family: "marker";
  src: url("http://themes.googleusercontent.com/static/fonts/permanentmarker/v0/9vYsg5VgPHKK8SXYbf3sMupm9E4gBdgiUiSJePew_SQ.woff"); }

@font-face {
  font-family: "sueellen";
  src: url("http://themes.googleusercontent.com/static/fonts/sueellenfrancisco/v2/TwHX4vSxMUnJUdEz1JIgrrtXaZAN_aGv07JTA91X2HI.woff"); }

@font-face {
  font-family: "cedarcursive";
  src: url("http://themes.googleusercontent.com/static/fonts/cedarvillecursive/v1/cuCe6HrkcqrWTWTUE7dw-5zpMnghKP_wiJrQSyqob5U.woff"); }

/* line 22, /home/travis/build/3100/3100.github.io/source/stylesheets/style.sass */
body {
  background: url(../images/geometry.png);
  font-family: "Helvetica Nwue", Helvetica, Arial, "ヒラギノ角ゴ Pro W2", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 14px;
  color: #444422;
  line-height: 1.8; }

/* line 31, /home/travis/build/3100/3100.github.io/source/stylesheets/style.sass */
*, *:before, *:after {
  -moz-box-sizing: border-box; }

/* line 34, /home/travis/build/3100/3100.github.io/source/stylesheets/style.sass */
#license {
  text-align: center;
  line-height: 1.8;
  color: #647878; }

/* line 39, /home/travis/build/3100/3100.github.io/source/stylesheets/style.sass */
a.tk-learning-curve {
  font-family: "sueellen";
  font-size: 64px;
  text-align: center;
  color: #bbaabb;
  text-decoration: none; }

/* line 47, /home/travis/build/3100/3100.github.io/source/stylesheets/style.sass */
a.no-color {
  color: #444422;
  text-decoration: none; }

/* line 51, /home/travis/build/3100/3100.github.io/source/stylesheets/style.sass */
ul.horizontal {
  display: inline-block;
  padding-left: 10px; }
  /* line 54, /home/travis/build/3100/3100.github.io/source/stylesheets/style.sass */
  ul.horizontal li {
    margin-left: 5px;
    display: inline-block; }
  /* line 58, /home/travis/build/3100/3100.github.io/source/stylesheets/style.sass */
  ul.horizontal div, ul.horizontal form {
    display: inline-block; }

/* line 61, /home/travis/build/3100/3100.github.io/source/stylesheets/style.sass */
ul {
  list-style-type: none; }

/* line 64, /home/travis/build/3100/3100.github.io/source/stylesheets/style.sass */
.article-tag {
  margin-left: 10px;
  display: inline-block; }

/* line 68, /home/travis/build/3100/3100.github.io/source/stylesheets/style.sass */
.recent-articles .date {
  font-weight: 200px;
  font-size: 12px; }

/* line 75, /home/travis/build/3100/3100.github.io/source/stylesheets/style.sass */
.date span.month:after {
  content: " "; }
/* line 78, /home/travis/build/3100/3100.github.io/source/stylesheets/style.sass */
.date span.day:after {
  content: ", "; }

/* line 81, /home/travis/build/3100/3100.github.io/source/stylesheets/style.sass */
.navbar-default {
  margin-left: auto;
  margin-right: auto;
  border: 0px none;
  background: url(../images/geometry.png); }

/* line 87, /home/travis/build/3100/3100.github.io/source/stylesheets/style.sass */
h1#blog-title {
  color: #ababab; }

/* line 90, /home/travis/build/3100/3100.github.io/source/stylesheets/style.sass */
h1 {
  color: #333333; }
  /* line 92, /home/travis/build/3100/3100.github.io/source/stylesheets/style.sass */
  h1 span.meta {
    font-size: 24px;
    color: #555566;
    margin-left: 10px; }
  /* line 96, /home/travis/build/3100/3100.github.io/source/stylesheets/style.sass */
  h1 a, h1 a:hover {
    color: #220000;
    text-decoration: none;
    border: 0px none; }

/* line 101, /home/travis/build/3100/3100.github.io/source/stylesheets/style.sass */
h2 {
  font-size: 20px; }

/* line 104, /home/travis/build/3100/3100.github.io/source/stylesheets/style.sass */
h3 {
  font-size: 18px; }

/* line 107, /home/travis/build/3100/3100.github.io/source/stylesheets/style.sass */
h4 {
  font-size: 16px; }

/* line 110, /home/travis/build/3100/3100.github.io/source/stylesheets/style.sass */
hr {
  margin-top: 40px;
  margin-bottom: 40px; }
